@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Styles{
    <style>
        .display-4{
            background-color:seagreen;
            font-size:larger;
        }
    </style>
}
<h2>Hi,Ajax?</h2>

@section Scripts{
    <script>
        $('.display-4').css('color','orange')
    </script>
}
